[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dsdmark/Desktop/big.txt]
row=4
col=0

[google-drive://sahup3296@gmail.com/]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/dsdmark]
row=3
col=0

